.mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(#01a1fd, 45%, white);
    padding: 20px;
    color: white;
    font-family: 'Exo 2', sans-serif;
    box-sizing: border-box;
}
.mapa iframe {
    width: 70%;
    min-width: 300px;
    height: 80%;
    min-height: 400px;
}