.footer {
    font-family: "Exo 2", sans-serif;
    bottom: 0;
    padding: 20px 100px 20px 100px;
    margin: 20px 100px 20px 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #01a1fd;
    border-radius: 8px;
}
.footer img {
    max-width: 150px;
    max-height: 130px;
}
.footer ul li{
list-style-type: none;
}
.contatos {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.pages {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
    color: #01a1fd;
    box-sizing: border-box;
}
.pages li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#icon{
    max-width: 25px;
    max-height: 25px;
    opacity: 0;
    transition: opacity 0.5s;
}
.pages li:hover #icon{
    opacity: 1;
}
.pages li a {
    text-decoration: none;
    color: #01a1fd;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact li{
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: padding 0.5s;
    
}
.contact li:hover {
    border: solid 2px #01a1fd;
    border-radius: 50%;
    padding: 5px;

}

.contact li img {
    max-width: 34px;
    max-height: 34px;
}
@media only screen and (max-width: 700px){
    .footer {
        padding: 10px 50px 10px 50px;
        margin: 10px 50px 10px 50px;
    }
    .footer img{
        max-width: 100px;
    }
}
@media only screen and (max-width: 450px){
    .footer {
        padding: 10px 50px 10px 50px;
        margin: 10px 0px 10px 0px;
        border: none;
        border-top: 1px solid #01a1fd;
        border-radius: 0;
    }

}